{{!< master}}
{{#contentFor "bodyAttr"}}ng-controller="AboutController"{{/contentFor}}

<div class="wrap">
    <div class="about-center">
        <p translate="aboutlove1"></p>
        <p translate="aboutlove2"></p>
    </div>

    <div class="gird">
        <div class="row">
            <div class="col-lg-3 col" ng-repeat="item in person">
                <figure>
                    <img class="img-circle img-responsive" ng-click="collapsed(item)"
                         ng-src="{{angular 'item.photo'}}"/>
                </figure>
                <h3 ng-bind="aitem.first_name"></h3>

                <q ng-bind="item.motto" class="motto"></q>

            </div>
        </div>
    </div>
</div>
<div collapse="isCollapsed" >
    <div class="section">
        <div class="container">
            <h2 ng-bind="item.first_name"></h2>

            <p ng-bind="item.position"></p>

            <p ng-bind="item.hobby"></p>

            <p ng-bind="item.description"></p>

        </div>
    </div>
</div>

<section id="flickrfeed" class="flickr-feed">
    <ul>
        <li ng-repeat="item in photos">
            <a ng-href="{{angular 'item.link'}}" target="_blank">
                <img ng-src="{{angular 'item.media.m'}}" ng-alt="{{angular 'item.title'}}"
                     ng-title="{{angular 'item.title'}}">
            </a>
        </li>
    </ul>
</section>