{{!< master}}
{{#contentFor "bodyAttr"}}ng-controller="AboutController"{{/contentFor}}

<div class="wrap">
    <div class="about-box">
        <h1 class="about-h1" translate="aboutlove"></h1>
        <div class="about-center">
            <p translate="aboutlove.one">
            </p>
            <p translate="aboutlove.two">
            </p>
        </div>
    </div>

    <div class="gird">
        <ul class="row">
            <li class="col-lg-3 col" ng-repeat="item in person">
                <a ng-href="#{{angular 'item.first_name'}}">
                    <figure>
                        <img class="img-circle img-responsive" ng-click="collapsed(item)"
                             ng-src="{{angular 'item.photo'}}"/>
                    </figure>
                </a>
                <h3 ng-bind="item.first_name"></h3>

                <q ng-bind="item.motto" class="motto"></q>

            </li>
        </ul>
    </div>
</div>
<div id="{{angular 'item.first_name'}}" collapse="isCollapsed" >
    <div class="section">
        <div class="container">
            <h2 ng-bind="item.first_name"></h2>

            <p ng-bind="item.position"></p>

            <p ng-bind="item.hobby"></p>

            <p ng-bind="item.description"></p>

        </div>
    </div>
</div>

<section id="flickrfeed" class="flickr-feed">
    <ul>
        <li ng-repeat="item in photos">
            <a ng-href="{{angular 'item.link'}}" target="_blank">
                <img ng-src="{{angular 'item.media.m'}}" ng-alt="{{angular 'item.title'}}"
                     ng-title="{{angular 'item.title'}}">
            </a>
        </li>
    </ul>
</section>