{{!< master}}
{{#contentFor "bodyAttr"}}ng-controller="AboutController"{{/contentFor}}
<section class="detail-we-are">
    <div class="back" ng-class="homeBack"></div>
    <div class="wrap">
        <div class="about-box">
            <h2 class="about-h1" translate="aboutlove"></h2>
            <div class="about-center">
                <p translate="aboutlove_one">
                </p>
                <p translate="aboutlove_two">
                </p>
                <p translate="aboutlove_three">
                </p>
                <p translate="aboutlove_four">
                </p>
            </div>
        </div>
    </div>
</section>
<section class="our-team">
    <div class="wrap">
        <h2 translate="our_team"></h2>
        <h3 translate="welove"></h3>
        <ul class="clearfix">
            <li class="profile" ng-repeat="item in person">
                <figure>
                    <img class="img-responsive"
                         ng-src="{{angular 'item.photo'}}"/>
                    <p ng-bind="item.description" class="description"></p>
                </figure>
                <h3 ng-bind="item.first_name"></h3>
                <h4 ng-bind="item.position"></h4>
            </li>
            <li class="profile" ng-repeat="part in partner">
                <figure>
                    <img class="img-responsive"
                         ng-src="{{angular 'part.photo'}}"/>
                    <p ng-bind="part.description" class="description"></p>
                </figure>
                <h3 ng-bind="part.first_name"></h3>
                <h4 ng-bind="part.position"></h4>
            </li>
        </ul>
    </div>
</section>
<section id="flickrfeed" class="flickr-feed">
    <ul>
        <li ng-repeat="part in photos">
            <a ng-href="{{angular 'part.link'}}" target="_blank">
                <img ng-src="{{angular 'part.media.m'}}" ng-alt="{{angular 'part.title'}}"
                     ng-title="{{angular 'part.title'}}">
            </a>
        </li>
    </ul>
</section>