<!DOCTYPE html>
<html data-app="erealm">
<head>
    <meta charset="utf-8">
    <!--[if lte IE 8 ]>
    <meta http-equiv=refresh content="0; URL=/helper/upgrade.html">
    <script>window.location.href="/helper/upgrade.html";</script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eRealm Info & Tech</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="author" href="humans.txt">
    <!-- build:css /stylesheets/libs.min.css -->
    <link rel="stylesheet" href="/stylesheets/libs/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="/stylesheets/libs/font-awesome.min.css" type="text/css"/>
    <link rel="stylesheet" href="/stylesheets/libs/reset.css" type="text/css"/>
    <link rel="stylesheet" href="/stylesheets/libs/erealmFont.css" type="text/css" />
    <!-- endbuild -->
    <!-- build:css /stylesheets/app.min.css -->
    <link rel="stylesheet" href="/stylesheets/app.css" type="text/css"/>
    <!-- endbuild -->
</head>
<body {{{block "bodyAttr"}}} scroll>
<header role="banner" ng-click="$spMenu.hide()">
    <div class="wrap">
        <div class="logo-mark"><a href="/"></a></div>
        <section class="intro">
            <span translate="subtittle"></span>
            <h1 translate="maintittle"></h1>
        </section>
    </div>
    <div class="git-fock">
        <a href="https://github.com/erealm" target="_blank">Fork me on GitHub</a>
    </div>
</header>
<span class="muti-language">
    <div class="btn-group">
        <button type="button" class="btn btn-default " translate="language"></button>
        <button type="button" class="btn btn-default  dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a  href="javascript:void(0)" language key="cn">简体中文</a></li>
            <li class="divider"></li>
            <li><a  href="javascript:void(0)" language key="en">English</a></li>
        </ul>
    </div>
 </span>
<div class="nav-container" >
    <nav ng-class="{fixed: showFixedHeader}">
        <div class="wrap">
            <div class="sub-logo-mark"><a href="/"></a></div>
            <div class="nav-link fa fa-bars" ng-click="$spMenu.toggle()"></div>
            <ul id="navslide">
                <li ng-class="{active: currentPage == 'home-page'}"><a href="/" translate="home"></a></li>
                <li ng-class="{active: currentPage == 'contact-page'}"><a href="/contact" translate="contact"></a></li>
                <li ng-class="{active: currentPage == 'about-page'}"><a href="/about" translate="about"></a></li>
            </ul>
        </div>
    </nav>
</div>
<div id="sp-nav" class="page-menu-slide">
    <ul class="nav-slide">
        <li><a href="/" translate="home"></a></li>
        <li><a href="/contact" translate="contact"></a></li>
        <li><a href="/about" translate="about"></a></li>
        <li class="divider"></li>
        <li><a  href="javascript:void(0)" language key="cn">简体中文</a></li>
        <li><a  href="javascript:void(0)" language key="en">English</a></li>
    </ul>
</div>
<div class="content" ng-click="$spMenu.hide()">
    {{{body}}}
</div>
<footer role="contentinfo">
    <div class="contact wrap">
        <h2 translate="say_hello"></h2>
        <p translate="say_content"></p>
        <ul>
            <li><a href="mailto:hello@erealm.cn" ng-attr-href="{{angular '\'emaillink\'| translate'}}" class="circle-icon" ng-attr-title="{{angular '\'sendus_email\'| translate'}}"><span class="fa fa-envelope"></span></a></li>
            <li><a href="https://github.com/eRealm-Tech" class="circle-icon" ng-attr-title="{{angular '\'follow_us\'| translate'}}" target="_blank"><span class="fa fa-github"></span></a></li>
            <li class="last end"><a href="/projectPlan" class="circle-icon" ng-attr-title="{{angular '\'submit_project\'| translate'}}"><span class="fa fa-send"></span></a></li>
        </ul>
    </div>
    <div class="copyright">
        <p translate="copyright"></p>
        <p><span translate="powerby"></span><a href="http://www.erealm.com.my" target="_blank">eRealm</a> @ 2014.</p>
        <p>Mentioned product names and logos are property of their respective owners.</p>
    </div>
    <a class="back-top fa fa-level-up" href="javascript: void(0)" ng-show="showFixedHeader" backtop></a>
</footer>
<div class="overlay-message" ng-show="mainLoading">
    <ul class="loader">
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<!-- build:js /javascripts/libs.min.js -->
<script src="/javascripts/libs/angular.min.js"></script>
<script src="/javascripts/libs/jquery.min.js"></script>
<script src="/javascripts/libs/plugins/jquery.wookmark.min.js"></script>
<script src="/javascripts/libs/plugins/imagesloaded.pkgd.min.js"></script>
<script src="/javascripts/libs/plugins/angular-cookies.min.js"></script>
<script src="/javascripts/libs/plugins/angular-translate.min.js"></script>
<script src="/javascripts/libs/plugins/angular-translate-loader-url.min.js"></script>
<script src="/javascripts/libs/plugins/angular-translate-storage-cookie.min.js"></script>
<script src="/javascripts/libs/plugins/ui-bootstrap-tpls.min.js"></script>
<script src="/javascripts/libs/plugins/ng-mobile-menu.min.js"></script>
<script src="/javascripts/libs/plugins/bootstrap.min.js"></script>
<script src="http://127.0.0.1:35729/livereload.js" cache="false"></script>
<!-- endbuild -->
<!-- build:js /javascripts/app.min.js -->
<script src="/javascripts/erealm.js"></script>
<script src="/javascripts/language.js"></script>
<script src="/javascripts/clients.js"></script>
<script src="/javascripts/app/homeController.js"></script>
<script src="/javascripts/app/contactController.js"></script>
<script src="/javascripts/app/aboutController.js"></script>
<script src="/javascripts/app/workController.js"></script>
<script src="/javascripts/app/projectController.js"></script>
<script src="/javascripts/app/workDetailsController.js"></script>
<!-- endbuild -->
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script>
    angular.element(document).ready(function() {
        // Launch jdk module. Here we go!
        var id = angular.element(document.querySelector('html')).attr('data-app');
        console.log('booting angular app: ' + id);
        angular.bootstrap(document, [id]);
    });

    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-54177255-1', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>